<div class="row">
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>
        <div class="row full-name-inputs">
          <div class="col-sm-12 input-group">
            <input type="text" placeholder="CPF ou E-mail" class="form-control"/>
          </div>
          <div class="col-sm-12 input-group">
            <input type="password" placeholder="Senha" class="form-control"/>
          </div>
          <div class="col-sm-12">
            <button nbButton class="btn-primary" type="submit">Entrar</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

