<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <div class="row full-name-inputs">
            <div class="col-sm-12 input-group">
              <input type="text" formControlName="identifier" [required]="true" placeholder="CPF ou E-mail" class="form-control"/>
            </div>
            <div class="col-sm-12 input-group">
              <input type="password" formControlName="password" [required]="true" placeholder="Senha" class="form-control"/>
            </div>
            <div class="col-sm-12">
              <div *ngIf="error" style="text-align: center;"><nb-card><nb-card-body>Usuário ou Senha inválidos!</nb-card-body></nb-card></div>
              <div id="btnAlinhamento"><button [disabled]="loading" nbButton class="btn-primary" type="submit">Entrar</button></div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

